
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Urbanist&display=swap');

.portfolio-page {
    display : flex;
    
}

.body {
    font-family: 'Urbanist', sans-serif;
}
.left-tab {
    color : white;
    flex : 1;
    background-color: rgba(0, 0, 0, 0.719);
}

h2, h3, h4{
    letter-spacing: 2px;
}

.right-tab {
    flex : 4;
}
.profile-picture {
    height : 260px;
    width : 300px;
}

.pic {
    height:260px;
    width:300px;
}

.divider {
    width:300px;
    border-color: yellow;
    align:right;
    margin-left:30px;
}

.education-info h1 {
    margin-top : 30px;
    font-size:20px;
}

.skills-section {
    margin-left : 50px;
}

.skills-heading {
    margin-bottom : 1px;
    margin-left : 20px;
}
.skills {
    margin-top : 0px;
    margin-bottom : 0px;
    margin-left : -52px;
    padding-bottom : 2px;
    padding-top : 0px;
}

.skilltable {
    margin-left : 400px;
}

.major-heading {
    font-size : 15px;
    font-weight : bold;
    margin-bottom : 0px;
    margin-top : 10px;   
}


.color-plus-heading {
    display : flex;
}

.color-plus-heading {
    flex : 1;
}

.cell-color {
    background-color: rgba(255, 255, 0, 0.637);
    width : 50px;
    height : 15px;
    object-fit: fill;
    align-self: center;

}
.contact-heading {
    flex : 4;
}

.contact-heading-content {
    margin-left : 2px;
    padding-left : 20px;
    margin-top : 5px;
    background-color: gray;
    margin-right : 20px;
}

.color-plus-heading-secondline {
    flex : 1;
}

.cell-color-secondline {
    background-color: rgba(0, 0, 0, 0.719);
    
}

.contact-heading-secondline {
    flex : 4;
}
.contact-heading-content-secondline {
    margin-left : 52px;
    padding-left : 20px;
    margin-top : 5px;
}

.empty-space {
    height : 55px;
}
.name-container {
    background-color: orange;
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left : 60px;
    font-size: 30px;
    letter-spacing: 2px;
}

.right-tab-info {
    margin-left : 50px;
    margin-right : 50px;
}

.right-panel-hr {
    width:1000px;
    border-color : black;
    background-color: black;
}

.about-me-data {
    margin-right : 50px;
}

.date-plus-info {
    display : flex;
    margin-bottom : 25px;
}

.date {
    flex : 1;
    padding-right: 50%;
}

.info {
    flex : 3;
    font:weight
}

.info-position {
    font-weight : bold;
}

.footer {
    display : flex;
}

.tile-one, .tile-two, .tile-three {
    flex : 1;
}

.skills{
    padding-left: 50px;
    padding-right: 50px;
}

.skills hr{
    height:2px;
    background-color: #808080;
        border: none;
}

.graphout{
    display: flex;
    height: 4px;
    background-color:orange;
    width:100%;

 }
 .graphdata1{
    height:4px;
    background-color: #303030;
    width:70%;

 }
 .graphdata2{
    flex:5;
    height:4px;
    background-color: #303030;
    width:60%;

 }
 .graphdata3{
    flex:5;
    height:4px;
    background-color: #303030;
    width:30%;

 }
 .graphdata4{
    flex:5;
    height:4px;
    background-color: #303030;
    width:85%;

 }
 .graphdata5{
    flex:5;
    height:4px;
    background-color: #303030;
    width:50%;

 }
 .graphdata6{
    flex:5;
    height:4px;
    background-color: #303030;
    width:75%;

 }